<div class="filter-box">
	<div class="row">
		<input class="rad" type="checkbox">
		<label>Filter not available yet.</label>
	</div>
	<div class="row">
		<input class="rad" type="checkbox">
		<label>Filter not available yet.</label>
	</div>
	<div class="row">
		<input class="rad" type="checkbox">
		<label>Filter not available yet.</label>
	</div>
	<div class="row">
		<input class="rad" type="checkbox">
		<label>Filter not available yet.</label>
	</div>
	<a href="/popup/" class="with-popup">See all..</a>
</div>