<div class="lightbox">
	<form action="#">		<fieldset>			<h2>TEXT FOR THIS LIGHTBOX FILTER [CUSTOM FIELD]</h2>
			<div class="row">
				<div class="col01">
					<input id="chk101" class="chk" type="checkbox">
					<label for="chk101">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk102" class="chk" type="checkbox">
					<label for="chk102">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk103" class="chk" type="checkbox">
					<label for="chk103">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk104" class="chk" type="checkbox">
					<label for="chk104">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk105" class="chk" type="checkbox">
					<label for="chk105">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk106" class="chk" type="checkbox">
					<label for="chk106">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk107" class="chk" type="checkbox">
					<label for="chk107">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk108" class="chk" type="checkbox">
					<label for="chk108">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk109" class="chk" type="checkbox">
					<label for="chk109">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk110" class="chk" type="checkbox">
					<label for="chk110">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk111" class="chk" type="checkbox">
					<label for="chk111">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk112" class="chk" type="checkbox">
					<label for="chk112">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk113" class="chk" type="checkbox">
					<label for="chk113">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk114" class="chk" type="checkbox">
					<label for="chk114">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk115" class="chk" type="checkbox">
					<label for="chk115">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk116" class="chk" type="checkbox">
					<label for="chk116">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk117" class="chk" type="checkbox">
					<label for="chk117">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk118" class="chk" type="checkbox">
					<label for="chk118">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk119" class="chk" type="checkbox">
					<label for="chk119">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk120" class="chk" type="checkbox">
					<label for="chk120">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk121" class="chk" type="checkbox">
					<label for="chk121">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk122" class="chk" type="checkbox">
					<label for="chk122">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk123" class="chk" type="checkbox">
					<label for="chk123">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk124" class="chk" type="checkbox">
					<label for="chk124">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk125" class="chk" type="checkbox">
					<label for="chk125">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk126" class="chk" type="checkbox">
					<label for="chk126">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk127" class="chk" type="checkbox">
					<label for="chk127">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk128" class="chk" type="checkbox">
					<label for="chk128">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk129" class="chk" type="checkbox">
					<label for="chk129">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk130" class="chk" type="checkbox">
					<label for="chk130">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk131" class="chk" type="checkbox">
					<label for="chk131">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk132" class="chk" type="checkbox">
					<label for="chk132">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk133" class="chk" type="checkbox">
					<label for="chk133">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk134" class="chk" type="checkbox">
					<label for="chk134">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk135" class="chk" type="checkbox">
					<label for="chk135">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk136" class="chk" type="checkbox">
					<label for="chk136">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk137" class="chk" type="checkbox">
					<label for="chk137">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk138" class="chk" type="checkbox">
					<label for="chk138">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk139" class="chk" type="checkbox">
					<label for="chk139">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk140" class="chk" type="checkbox">
					<label for="chk140">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk141" class="chk" type="checkbox">
					<label for="chk141">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk142" class="chk" type="checkbox">
					<label for="chk142">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk143" class="chk" type="checkbox">
					<label for="chk143">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk144" class="chk" type="checkbox">
					<label for="chk144">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk145" class="chk" type="checkbox">
					<label for="chk145">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk146" class="chk" type="checkbox">
					<label for="chk146">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk147" class="chk" type="checkbox">
					<label for="chk147">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk148" class="chk" type="checkbox">
					<label for="chk148">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk149" class="chk" type="checkbox">
					<label for="chk149">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk150" class="chk" type="checkbox">
					<label for="chk150">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk151" class="chk" type="checkbox">
					<label for="chk151">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk152" class="chk" type="checkbox">
					<label for="chk152">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk153" class="chk" type="checkbox">
					<label for="chk153">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk154" class="chk" type="checkbox">
					<label for="chk154">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk155" class="chk" type="checkbox">
					<label for="chk155">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk156" class="chk" type="checkbox">
					<label for="chk156">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk157" class="chk" type="checkbox">
					<label for="chk157">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk158" class="chk" type="checkbox">
					<label for="chk158">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk159" class="chk" type="checkbox">
					<label for="chk159">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk160" class="chk" type="checkbox">
					<label for="chk160">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk161" class="chk" type="checkbox">
					<label for="chk161">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk162" class="chk" type="checkbox">
					<label for="chk162">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk163" class="chk" type="checkbox">
					<label for="chk163">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk164" class="chk" type="checkbox">
					<label for="chk164">Filter not available yet.</label>
				</div>
			</div>
			<div class="row">
				<div class="col01">
					<input id="chk165" class="chk" type="checkbox">
					<label for="chk165">Filter not available yet.</label>
				</div>
				<div class="col02">
					<input id="chk166" class="chk" type="checkbox">
					<label for="chk166">Filter not available yet.</label>
				</div>
				<div class="col03">
					<input id="chk167" class="chk" type="checkbox">
					<label for="chk167">Filter not available yet.</label>
				</div>
				<div class="col04">
					<input id="chk168" class="chk" type="checkbox">
					<label for="chk168">Filter not available yet.</label>
				</div>
			</div>
			<footer>
				<a href="#" class="close">CLOSE</a>
				<strong>[FILTERNAME]</strong>
			</footer>
		</fieldset>	</form>
</div>